<section class="section">
    <div class="columns">
        <div class="column is-two-thirds">
            <figure class="image is-16by9 box" id="image-gallery">
                <img src="{{ page.images | first }}" aria-hidden="true" id="big-image">
            </figure>

            <div id="image-gallery-picker" class="columns is-multiline">
                {% for i in page.images %}
                    <a href="#image-gallery" onclick="setImage(this)" class="column is-one-quarter {% if forloop.first %}card{% endif %}"><img id="image-{{ forloop.index }}" src="{{ i }}" aria-hidden="true"></a>
                {% endfor %}
            </div>
        </div>

        <div class="column">
            <section class="section has-text-centered">
                <h1 class="title">{{ page.title }}</h1>
                <h2 class="subtitle">{{ page.locality }}</h2>

                <div class="tags are-medium has-text-centered">
                    <span class="tag"><i class="fas fa-fw fa-bed"></i>&nbsp;{{ page.beds }} Bedrooms</span>
                    <span class="tag"><i class="fas fa-fw fa-bath"></i>&nbsp;{{ page.baths }} Bathrooms</span>
                </div>
            </section>

            <section class="section">
                <p class="title">£<b id="house-price">{{ page.price }}</b><br>guide price</p>
                <script>
                    const price = document.getElementById('house-price');
                    price.innerText = parseInt(price.innerText).toLocaleString('en-GB');
                </script>

                <div class="buttons has-text-centered">
                    <a class="button is-info is-light">Shortlist</a>
                    <a class="button is-success" href="contact.html">Enquire &raquo;</a>
                </div>
            </section>
        </div>
    </div>
</section>


<section class="section">
    <div class="columns">
        <div class="column is-one-third content">
            {% if page.keyfeatures %}
                <h3>Key Features</h3>

                <ul>
                {% for k in page.keyfeatures %}
                        <li>{{ k }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <h3>Location</h3>
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.111778259277344%2C52.2967220498974%2C-1.438865661621094%2C52.56529070208023&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=12/52.4312/-1.7753">View Larger Map</a></small>
        </div>

        <div class="column content">
            {{ content }}
        </div>
    </div>
</section>