---
---

<section class="section">
    <div class="columns">
        <div class="column is-two-thirds">
            <figure class="image is-16by9 box" id="image-gallery">
                <img src="{{ page.images | first }}" aria-hidden="true" id="big-image">
            </figure>

            <div id="image-gallery-picker" class="columns is-multiline">
                {% for i in page.images %}
                <a href="#image-gallery" onclick="setImage(this)" class="column is-one-quarter {% if forloop.first %}card{% endif %}"><img id="image-{{ forloop.index }}" src="{{ i }}" aria-hidden="true"></a>
                {% endfor %}
            </div>
        </div>

        <div class="column">
            <section class="section has-text-centered">
                <h1 class="title">{{ page.title }}</h1>
                <h2 class="subtitle">{{ page.locality }}</h2>

                <div class="tags are-medium has-text-centered">
                    <span class="tag">{{ page.beds }} Bedrooms</span>
                    <span class="tag">{{ page.baths }} Bathrooms</span>
                </div>
            </section>

            <section class="section">
                <p class="title">£<b onload="this.innerText = parseInt(this.innerText).toLocaleString('en-GB')">{{ page.price }}</b><br>guide price</p>

                <div class="buttons has-text-centered">
                    <button class="button is-info is-light">Shortlist</button>
                    <button class="button is-success">Enquire &raquo;</button>
                </div>
            </section>
        </div>
    </div>
</section>


<section class="section">
    <div class="columns">
        <div class="column is-one-third content">
            <h3>Key Features</h3>

            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
            </ul>
        </div>

        <div class="column content">
            {{ content }}
        </div>
    </div>
</section>